.room {
    color: rgb(53, 52, 52);
    margin: 0.5rem auto;
    padding: 1rem;
    width: 30%;
    height: auto;
    border: 1px solid tomato;
    background: linear-gradient(to right, rgb(202, 184, 184), rgb(233, 216, 216));
    border-radius: 0.5rem;
}

.avatar {
    width:fit-content;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: lightgray;
}

img {
    width: 98%;
    height: 40vh;
}

.icons {
    display: flex;
    padding-top: 0.5rem;
}

/* For Responsicve */
@media all and (max-width: 600px) {
    .room {
        width: 90%;
        margin: 1rem auto;
    }
}